/* This is the css for the modal of adding post*/
.createPostModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 80%;
  background-color: white;
  border: 1px solid #000; /* You had 'border: "1px #000"' in your inline styles */
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
  padding: 5px; /* You had 'p: 4' in your inline styles */
  border-radius: 20px;
}

.createPost {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 50px;
}

.CPname {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.CParrow{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  
}

.CParrow:hover{
  color: #bfbfbf;
}

.addPost {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.selectFromComputer-button {
  appearance: button;
  background-color: #0c77a8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 11px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.selectFromComputer-button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.selectFromComputer-button:main,
button:focus {
  user-select: auto;
}

.selectFromComputer-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.selectFromComputer-button:disabled {
  cursor: auto;
}

.selectFromComputer-button:active:after {
  border-width: 0 0 0px;
}

.selectFromComputer-button:active {
  padding-bottom: 10px;
}

/*This CSS for selected File*/
.selected-file {
  display: flex;
  width: 205px;
  height: 30px;
  
  background-color: #bfbfbf;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.selected-file p {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
  
}

.delete-selectedFile {
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  
}

.delete-selectedFile:hover {
  color: rgb(212, 19, 19);
}
