@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
}

.leftNavigationBody{
  margin: 0;
  background-color: #fafafa;
  color: #262626;
  font-family: 'Montserrat', sans-serif;/** find the correct font*/
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 245px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: #ffffff;
  border-right: 1px solid #dbdbdb;
  transition: 0.3s;
}

.sidebar-header{
  width: 100%;
  margin-bottom: 44px; /*gekki*/
}

.logo-icon{
  display: none;
  font-size: 28px;
  height: 35px;
  width: 51px;
  text-align: center;
}

.logo-img{
  margin-left: 14px;
  height: 32px;
  cursor: pointer;
}

.sidebar button{
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.sidebar button > span{
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 24px;
  line-height: 1;
}

.sidebar button:hover > span{
  background: #f2f2f2;
}


.sidebar button:hover > span :is(i, img){
  scale: 1.05;
}

.sidebar button > span > span {
  transition: 0.3s;
}

<<<<<<< HEAD
@media (width < 1285px) {
=======
@media (width < 1315px) {
>>>>>>> ab4111138fc94f4a85dee606cfab0dced59e13d0
  .logo-img{
      display: none;
  }

  .logo-icon{
      display: block;
  }
  .sidebar{
      width: 72px;
  }
  .sidebar button > span {
      width: 50px;
  }
  .sidebar button > span > span {
      opacity: 0;
      visibility: hidden;
  }
}

<<<<<<< HEAD
@media (width < 735px){
  
}

=======
>>>>>>> ab4111138fc94f4a85dee606cfab0dced59e13d0


.sidebar button i{
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar button img{
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.icon{
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar button i > span {
  display: grid;
  place-items: center;
  height: 20px;
  padding: 0 4px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

/*The styling on the logo -> red*/
.sidebar button i > em {
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  position: absolute;
  top: 2px;
  right: -1px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 11px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar button span{
  font-size: 14px; /*try 14px if correct font family */
}

.sidebar > nav{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar > nav button:last-child{
  margin-top: auto;
}

.createPostModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 80%;
  background-color: white; 
  border: 1px solid #000; /* You had 'border: "1px #000"' in your inline styles */
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
  padding: 5px; /* You had 'p: 4' in your inline styles */
  border-radius: 20px;
}


.createPost{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid   #bfbfbf;
  margin-bottom: 50px;
}

.CPname{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.addPost{
  
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;   
  flex-direction: column;
  gap: 20px;             
}

.label{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}


.addPost button {
  appearance: button;
  background-color: #0c77a8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 11px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
 }
 
 .addPost button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 
 .addPost button:main, button:focus {
  user-select: auto;
 }
 
 .addPost button:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
 .addPost button:disabled {
  cursor: auto;
 }
 
 .addPost button:active:after {
  border-width: 0 0 0px;
 }
 
 .addPost button:active {
  padding-bottom: 10px;
 }
