.statusbar_container{
    /*height: 90px;*/
    width: 625px;
    background-color: white;
    /*border: 1px solid #dbdbdb;*/
    margin-top: 22px;
    display: flex;
    overflow-x: scroll;
    margin-left: 17px;
}

/*Make the scrollbar disappear when div is overflow.*/
.statusbar_container::-webkit-scrollbar{
    display: none;
}


.statusbar-status{
    min-width: 65px;
    min-height: 65px;
    border: 2px solid #DF3968;
    cursor: pointer;
}

.status{
    margin: 5px 14px 4px 0px;
}

.status-text{
    font-size: 12px;
    max-width: 50px;
    overflow-x: hidden;
    text-align: center;
}