.info_container{
    width: 290px;
    height: 50px;
    margin-top: 35px;
    display: flex;
}

.info_image{
    min-width: 50px;
    min-height: 50px;
}

.info-content{
    margin-left: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
}

.info-username{
   margin-top: 4px;
   font-weight: 750;
}

.info-name{
    color: rgb(115, 115, 115);
}

.info-switch{
    color: #0095F6;
    margin-left: auto;
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 550;
}

